<hr class="portfoliocontainer p-0"/>
<div class="portfoliocontainer">
  <h2
    data-aos="fade-right"
    data-aos-duration="700"
    class="text-center portfolio-h2"
    id="portfolio"
  >
    Projectos
  </h2>
  <hr
    data-aos="fade-right"
    data-aos-duration="700"
    data-aos-delay="500"
    class="hr25"
  />
  <div class="portfolio">
    <div class="flex">
      <app-latest class="w-100"></app-latest>
    </div>
    <div class="d-flex">
      <div class="card card1" data-aos-duration="1300" data-aos="fade-up">
        <div class="hover hovercard1">
          <div class="texthover">
            <h2 class="">TMDB simulation</h2>
            <h4 class="text-center title">Técnologías</h4>
            <h6 class="mt-4">Angular - SASS - Bootstrap</h6>
          </div>
          <!-- <a class="info"> Info </a> -->
          <a target="_blank" href="https://gustavom12.github.io/TMDB">
            Ver Más
          </a>
        </div>
      </div>
      <div class="card card2" data-aos-duration="1300" data-aos="fade-up">
        <div class="hover hovercard2">
          <div class="texthover">
            <h2 class="">Pokedex simulation</h2>
            <h4 class="text-center title">Tecnologías:</h4>
            <h6 class="mt-4">Angular - SASS - Bootstrap</h6>
          </div>
          <!-- <a class="info"(click)="displayInfo('Info2')"> Info </a> -->
          <a
            target="_blank"
            href="https://gustavom12.github.io/PokedexSimulation/"
            >Ver Más</a
          >
        </div>
      </div>
    </div>
    <div class="d-flex">
      <div
        class="card card3 mx-auto mt-4"
        data-aos-duration="1300"
        data-aos="fade-up"
      >
        <div class="hover hovercard3">
          <div class="texthover">
            <h2 class="color-orange">Marujo Loja</h2>
            <h4 class="title">Tecnologías:</h4>
            <h6 class="mt-4">Angular - SASS - Boostrap - Strapi</h6>
          </div>
          <a target="_blank" href="https://marujoloja-shop.herokuapp.com/">
            Ver Más
          </a>
        </div>
      </div>
      <div
        class="card card4 mx-auto mt-4"
        data-aos-duration="1300"
        data-aos="fade-up"
      >
        <div class="hover hovercard4">
          <div class="texthover">
            <h2 class="color-main">Apuestas de Freestyle</h2>
            <h4 class="title">Tecnologías:</h4>
            <h6 class="mt-4">
              Angular - SASS - Boostrap - NodeJS - MongoDB - ExpressJS
            </h6>
          </div>
          <a
            target="_blank"
            href="https://gustavom12.github.io/Apuestas_Freestyle/"
          >
            Ver Más
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
