<hr />
<div class="portfoliocontainer">
  <h2
    data-aos="fade-right"
    data-aos-duration="700"
    class="text-center portfolio-h2"
  >
    Projectos
  </h2>
  <hr
    data-aos="fade-right"
    data-aos-duration="700"
    data-aos-delay="500"
    class="hr25"
  />
  <div class="portfolio">
    <div class="card card1" data-aos-duration="1300" data-aos="fade-up">
      <div class="hover hovercard1">
        <div class="texthover">
          <h2>TMDB simulation</h2>
        </div>
        <!-- <a class="info"> Info </a> -->
        <a target="_blank" href="https://gustavom12.github.io/TMDB">
          Ver Más
        </a>
      </div>
    </div>
    <div class="card card2" data-aos-duration="1300" data-aos="fade-up">
      <div class="hover hovercard2">
        <div class="texthover">
          <h2>Pokedex simulation</h2>
        </div>
        <!-- <a class="info"(click)="displayInfo('Info2')"> Info </a> -->
        <a target="_blank"
        href="https://gustavom12.github.io/PokedexSimulation/">Ver Más</a>
      </div>
    </div>
  </div>
  <!-- <div class="InfoDiv" id="Info2">
    <div class="InfoContent">
      <img src="https://i.ibb.co/b1S0Jvc/poke1.png" alt="">
      <h2 class="InfoTitle">
        Pokedex Simulation
      </h2>
      <div class="InfoDescription">
        Desarrollado en Angular, usando Rest API de <a href="https://pokeapi.co/">PokeApi</a>
      </div>
      <a target="_blank"
        href="https://gustavom12.github.io/PokedexSimulation/">Ir al Sítio</a>
      </div>
  </div> -->

  <div class="card card3 mx-auto" data-aos-duration="1300" data-aos="fade-up">
    <div class="hover hovercard3">
      <div class="texthover">
        <h2>Marujo Loja</h2>
        <h6>(on production shop)</h6>
        <p>Código no disponible!</p>
      </div>
      <!-- <a class="info"> Info </a> -->
      <a target="_blank" href="https://marujo-loja-shop.herokuapp.com/">
        Ver Más
      </a>
      
    </div>
  </div>
</div>
