<hr />
<div class="portfoliocontainer">
  <h2
    data-aos="fade-right"
    data-aos-duration="700"
    class="text-center portfolio-h2"
  >
    Projectos
  </h2>
  <hr
    data-aos="fade-right"
    data-aos-duration="700"
    data-aos-delay="500"
    class="hr25"
  />
  <div class="portfolio">
    <div
      class="card card1"
      data-aos-duration="1300"
      data-aos="fade-up"
    >
    <div class="hover hovercard1" >
      <h2> TMDB simulation </h2>
      <a target="_blank" href="https://gustavom12.github.io/TMDB"> Ver Más </a>

      
      </div>
  </div>
    <div
      class="card card2"
      data-aos-duration="1300"
      data-aos="fade-up"
    >
    <div class="hover hovercard2" > <h2>Pokedex simulation</h2> <a target="_blank" href="https://gustavom12.github.io/PokedexSimulation/"> Ver Más </a> </div>
  </div>
</div>
