<h2 data-aos="fade-right" data-aos-duration="700"
 class="abouth2 ">ABOUT</h2>
<hr
  data-aos="fade-right"
  data-aos-duration="700"
  data-aos-delay="500"
  class="hr25"
/>
<div class="about">
  <!-- ABOUT -->

  <div class="quiensoy" data-aos-duration="1000" data-aos="fade-right">
    <img src="https://i.ibb.co/Qbwb7SV/IMG-20200124-WA0030.jpg" alt="" />
    <h2 >¿Quien soy?</h2>
    <h5>
      Soy un desarrollador Web Front-End de
      <a
        href="https://www.google.com/maps/place/Neuqu%C3%A9n/@-38.9411509,-68.255485,11z/data=!3m1!4b1!4m5!3m4!1s0x960a33ba35eb8e35:0x6220acb810e3e2f5!8m2!3d-38.9516784!4d-68.0591888"
      >
        Neuquen/Argentina</a
      >
    </h5>
    <p>
      Me considero una persona muy dedicada y detallista, 
      con relativamente poca experiencia pero con mucha calidad
    </p>
  </div>
  <hr class="hr100 d-sm-block d-none d-md-none d-lg-none"/>

  <div class="bars" data-aos-duration="1050" data-aos="fade-right">
    <h2 class="text-center">Conocimientos</h2>
    <hr class="hr" />
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">HTML</div>
        <div
          class="fill"
          data-barwidth="80%"
        ></div>
        <span>80%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 17px">Javascript</div>
        <div

          class="fill"
          data-barwidth="70%"
        ></div>
        <span>70%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">CSS</div>
        <div

          class="fill"
          data-barwidth="75%"
        ></div>
        <span>75%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 18px">Angular</div>
        <div

          class="fill"
          data-barwidth="65%"
        ></div>
        <span>65%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">SASS</div>
        <div

          class="fill"
          data-barwidth="65%"
        ></div>
        <span>65%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">jQuery</div>
        <div

          class="fill"
          data-barwidth="25%"
        ></div>
        <span>25%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">WordPress</div>
        <div

          class="fill"
          data-barwidth="60%"
        ></div>
        <span>60%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 20px;">PHP</div>
        <div

          class="fill"
          data-barwidth="25%"
        ></div>
        <span>25%</span>
      </div>
    </div>
  </div>
</div>
