<h2 data-aos="fade-right" data-aos-duration="700" class="abouth2">ABOUT</h2>
<hr
  data-aos="fade-right"
  data-aos-duration="700"
  data-aos-delay="500"
  class="hr25"
/>

<div class="about">
  <!-- ABOUT -->

  <div class="quiensoy" data-aos-duration="1000" data-aos="fade-right">
    <img src="https://i.ibb.co/Qbwb7SV/IMG-20200124-WA0030.jpg" alt="" />
    <h2>¿Quien soy?</h2>
    <h5>
      Soy un desarrollador Web Front-End de
      <a
        href="https://www.google.com/maps/place/Neuqu%C3%A9n/@-38.9411509,-68.255485,11z/data=!3m1!4b1!4m5!3m4!1s0x960a33ba35eb8e35:0x6220acb810e3e2f5!8m2!3d-38.9516784!4d-68.0591888"
      >
        Neuquen/Argentina</a
      >
    </h5>
    <p>
      Me considero una persona muy dedicada y detallista, que a pesar de que mi
      trabajo sea simple por mi baja experiencia, es un trabajo de muy buena
      calidad
    </p>
  </div>
  <hr class="hr100" />

  <div class="bars" data-aos-duration="1000" data-aos="fade-left">
    <h2 class="text-center">Conocimientos</h2>
    <hr class="hr" />
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">HTML</div>
        <div
          #fill
          #fill100
          data-aos-delay="1000"
          data-aos-duration="1500"
          data-aos="fade-right"
          class="fill fill100"
          style="width: 80%"
        ></div>
        <span>100%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 16px">WordPress</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1000"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="75%"
        ></div>
        <span>75%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">CSS</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1000"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="70%"
        ></div>
        <span>70%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 16px">Javascript</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1100"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="65%"
        ></div>
        <span>65%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">SASS</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1100"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="60%"
        ></div>
        <span>60%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">jQuery</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1100"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="25%"
        ></div>
        <span>25%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">Angular</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1100"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="60%"
        ></div>
        <span>60%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">SEO</div>
        <div
          #fill
          class="fill"
          data-aos-delay="1000"
          data-aos-duration="1500"
          data-aos="fade-right"
          data-barwidth="50%"
        ></div>
        <span>50%</span>
      </div>
    </div>
    <!-- <div class="bars" data-aos="fade-left" data-aos-duration="1500"><h2 class="text-center "> Conocimientos </h2>
        <hr class="hr">
    <div class="barg"><div class="bar"> <div class="nameofbar "> HTML</div> <div#fill class="fill fill100" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right" style="width: 80%;"></div><span>100%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar"> CSS</div> <div#fill class="fill" data-barwidth="70%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>70%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar" style="font-size: 16px;"> Javascript</div> <div#fill class="fill" data-barwidth="65%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>65%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar" style="font-size: 16px;"> WordPress</div> <div#fill class="fill" data-barwidth="70%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>70%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar"> SASS</div> <div#fill class="fill" data-barwidth="60%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>60%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar"> PHP</div> <div#fill class="fill" data-barwidth="25%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>25%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar"> Angular</div> <div#fill class="fill" data-barwidth="60%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>60%</span></div></div>
    <div class="barg"><div class="bar"> <div class="nameofbar"> SEO</div> <div#fill class="fill" data-barwidth="50%" data-aos-delay="1000" data-aos-duration="1500" data-aos="fade-right"></div><span>50%</span></div></div>
</div></div>-->
  </div>
</div>
