<h2 data-aos="fade-right" data-aos-duration="700"
 class="abouth2 ">Habilidades</h2>
<hr
  data-aos="fade-right"
  data-aos-duration="700"
  data-aos-delay="500"
  class="hr25"
/>
<div class="about pb-5 w-100">
  <!-- ABOUT -->

  <div class="quiensoy mx-auto" data-aos-duration="1000" data-aos="fade-up">
    <div class="d-flex justify-content-around align-center">
      <app-progresscircle [title]="'Autodidacto'" class="d-inline-block"  [width]="100"></app-progresscircle>
      <app-progresscircle [title]="'Responsabilidad'" class="d-inline-block" [width]="90"></app-progresscircle>
    </div>
    <div class="d-flex justify-content-around align-center">
      <app-progresscircle [title]="'Cooperación'" class="d-inline-block" [width]="80"></app-progresscircle>
      <app-progresscircle [title]="'Versatilidad'" class="d-inline-block" [width]="65"></app-progresscircle>
    </div>
    <div class="d-flex justify-content-around align-center">
      <app-progresscircle [title]="'Inglés'" class="d-inline-block" [width]="80"></app-progresscircle>
      <app-progresscircle [title]="'Creatividad'" class="d-inline-block" [width]="50"></app-progresscircle>
    </div>


  </div>
  <hr class="hr100 d-sm-block d-none d-md-none d-lg-none"/>

  <div class="bars mx-auto" data-aos-duration="1050" data-aos-delay="300" data-aos="fade-up">
    <!-- <h2 class="text-center">Conocimientos</h2>
    <hr class="hr mx-auto"/> -->
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">HTML</div>
        <div
          class="fill"
          data-barwidth="85%"
        ></div>
        <span>85%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 17px">Javascript</div>
        <div

          class="fill"
          data-barwidth="75%"
        ></div>
        <span>75%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">CSS</div>
        <div

          class="fill"
          data-barwidth="80%"
        ></div>
        <span>80%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 18px">Angular</div>
        <div

          class="fill"
          data-barwidth="75%"
        ></div>
        <span>75%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">SASS</div>
        <div

          class="fill"
          data-barwidth="65%"
        ></div>
        <span>65%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">React</div>
        <div

          class="fill"
          data-barwidth="70%"
        ></div>
        <span>70%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar">MongoDB</div>
        <div

          class="fill"
          data-barwidth="60%"
        ></div>
        <span>60%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 16px;">NodeJS</div>
        <div

          class="fill"
          data-barwidth="60%"
        ></div>
        <span>60%</span>
      </div>
    </div>
    <div class="barg">
      <div class="bar">
        <div class="nameofbar" style="font-size: 16px;">GraphQl</div>
        <div

          class="fill"
          data-barwidth="60%"
        ></div>
        <span>60%</span>
      </div>
    </div>
  </div>
</div>


