<div class="header">
  <div class="nav">
    <div class="text-header" data-aos-duration="1300" data-aos="zoom-in">
      <h3>Gustavo Mercado</h3>
      <h2 class="nombre">WEB Developer</h2>
      <p>
        Soy un desarrolador WEB, con casi un año en estudios en Programación
        y desarrollo WEB, principalmente Front-End, actualmente en busqueda activa de trabajo
      </p>
      <button class="boton ">
        <a
          href="https://api.whatsapp.com/send?phone=542994107678"
          target="_blank"
        >
          Contáctame
        </a>
      </button>
      <img src="https://i.ibb.co/Q8FTSZK/fondo.png"
       alt="img"
       class="d-none d-md-block"
       />
    </div>
  </div>
  <div class="footer">
    <a href="https://www.instagram.com/gustavo_mercado13/" target="_blank" class="fab fa-instagram flex"></a>
    <a href="https://github.com/gustavom12" target="_blank" class="fab fa-github flex"></a>
    <a href="#" class="fab far fa-envelope flex" aria-hidden="true"></a>
    <a href="https://api.whatsapp.com/send?phone=542994107678" target="_blank" class="fab fa-whatsapp flex"></a>
  </div>
</div>
