<div class="header">
  <div class="nav">
    <div class="text-header" data-aos-duration="1300" data-aos="zoom-in">
      <h3>Gustavo Mercado</h3>
      <h2 class="nombre">WEB Developer</h2>
      <p>
        Soy un desarrolador WEB, con casi un año en estudios en Programación
        y desarrollo WEB, principalmente Front-End, actualmente me encuentro 
        desempleado y en busca de algún trabajo que refuerce mis estudios
      </p>
      <button class="boton ">
        <a
          href="https://api.whatsapp.com/send?phone=542994107678"
          target="_blank"
        >
          Contáctame
        </a>
      </button>
      <img src="https://i.ibb.co/Q8FTSZK/fondo.png"
       alt="img"
       class="d-none d-md-block"
       />
    </div>
    <!-- Soy un desarrolador WEB, con mas de un año en estudios
       en Programación y 3 meses de experiencia laboral en una
       cosultora WEB actualmente me encuentro desempleado y en busca
       de trabajos FreeLance
    Je m’appelle Sebastien Plassiard. Je suis desig
        ner avec plus de 12 ans d’expérience. J’aide le
        s entreprises à concevoir des interfaces efficace
        s basées sur une stratégie centrée sur les utili
        sate
        urs, ceci dans le but d’innover mieux et plus rap
        idement
  --></div>
  <div class="footer">
    <a href="https://www.instagram.com/gustavo_mercado13/" target="_blank" class="fab fa-instagram flex"></a>
    <a href="https://www.facebook.com/profile.php?id=100053687475126" target="_blank" class="fab fa-facebook flex"></a>
    <a href="#" class="fab far fa-envelope flex" aria-hidden="true"></a>
    <a href="https://api.whatsapp.com/send?phone=542994107678" target="_blank" class="fab fa-whatsapp flex"></a>
  </div>
</div>
