<section class="conocimientos flex ">
  <div class="container">
    <div class="row">
      <div class="quiensoy col"  data-aos-duration="1000" data-aos="fade-up">
        <img
        id="about"
        data-aos-duration="700"
        data-aos="fade-up"
        data-aos-delay="500"
        src="https://i.ibb.co/bBVXMSM/about.jpg" alt="" />
        <h2
          data-aos-duration="700"
          data-aos="fade-right"
          data-aos-delay="700">¿Quien soy?</h2>
        <h5
          data-aos-duration="700"
          data-aos="fade-right"
          data-aos-delay="1000">
          Soy un desarrollador Web FullStack de
          <a
            href="https://www.google.com/maps/place/Neuqu%C3%A9n/@-38.9411509,-68.255485,11z/data=!3m1!4b1!4m5!3m4!1s0x960a33ba35eb8e35:0x6220acb810e3e2f5!8m2!3d-38.9516784!4d-68.0591888"
          >
            Neuquen/Argentina</a
          >
        </h5>
        <p
          data-aos-duration="700"
          data-aos="fade-right"
          data-aos-delay="1200">
          Me considero una persona muy dedicada y detallista,
          con relativamente poca experiencia pero con muchos conocimientos
        </p>
      </div>
      <div class="col col2" data-aos-duration="1000" data-aos="fade-up">
        <h2 class="title text-center"
          data-aos-duration="700"
          data-aos="fade-right"
          data-aos-delay="500"
          > Tecnologías </h2>
        <hr
          data-aos-duration="700"
          data-aos="fade-right"
          data-aos-delay="700" class="hr25 bgDark">
        <div
          data-aos-duration="700"
          data-aos="fade-right"
          data-aos-delay="1000"
          class="items d-block flex">
          <ul class="mx-auto">
            <li><span>HTML5</span></li>
            <li> <span>CSS</span> </li>
            <li><span>SASS</span></li>
            <li><span>Javascript</span></li>
            <li><span>Angular</span></li>
            <li><span>Boostrap</span></li>
            <li><span>NodeJS</span></li>
            <li><span>MongoDB</span></li>
            <li><span>ReactJS</span></li>
            <li><span>ExpressJS</span></li>
            <li><span>JQuery</span></li>
            <li><span>Git</span></li>
            <li><span>GitHub</span></li>
            <li><span>Mongoose</span></li>
            <li class="mx-auto"><span>WordPress</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
