<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- AOS-library -->
<!-- 89543182020161676510 -->
<!-- HEADER-INCLUDE -->
<app-header></app-header>
<!-- NAVBAR-INCLUDE -->
<app-navbarr></app-navbarr>
<app-conocimientos></app-conocimientos>
<app-about></app-about>
<app-portfolio></app-portfolio>
<app-form></app-form>



<div class="footer">
  <a href="https://www.instagram.com/gustavo_mercado13/" class="btn btn-1 fab fa-instagram flex">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>
  </a>
  <!-- <a href="https://www.instagram.com/gustavo_mercado13/" target="_blank" class="fab fa-instagram flex"></a> -->
  <a href="https://github.com/gustavom12" class="btn btn-1 fab fa-github flex">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>
  </a>
  <a href="https://www.linkedin.com/in/gustavo-mercado-1836461a4/" class="btn btn-1 fab fa-linkedin flex">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>
  </a>
  <a href="https://api.whatsapp.com/send?phone=542994107678" class="btn btn-1 fab fa-whatsapp flex">
    <svg>
      <rect x="0" y="0" fill="none" width="100%" height="100%"/>
    </svg>
  </a>
</div>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


