<div class="card latestcard w-100 flex" data-aos-duration="1300" data-aos="fade-up">
  <div class="hover hoverlatestcard">
    <div class="texthover">
      <h2 class="mb-0">Vinteo</h2>
      <span class="text-secondary"> (Publicidad de videos) </span>
      <h3 class="text-center title">Técnologías:</h3>
      <div class="d-flex justify-content-around mt-2 tecnologias">
        <div class="text-left">
          <h5 class="">
            <i class="far fa-check-circle"></i>
            ReactJS
          </h5>
          <h5>
            <i class="far fa-check-circle"></i>
            NodeJS
          </h5>
          <h5>
            <i class="far fa-check-circle"></i>
            GraphQL
          </h5>
        </div>
        <div class="text-left textflex2">
          <h5>
            <i class="far fa-check-circle"></i>
            Redux
          </h5><h5>
            <i class="far fa-check-circle"></i>
            Mercado Pago
          </h5><h5>
            <i class="far fa-check-circle"></i>
            Bootstrap
          </h5>
        </div>
      </div>
    </div>
    <!-- <a class="info"> Info </a> -->
    <a target="_blank" href="http://vinteo.herokuapp.com/"> Ver Más </a>
  </div>
  <div class="swiper-container mx-auto ">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://i.ibb.co/Nshfkmm/Captura-de-pantalla-2021-03-24-001108.png"
          alt="Captura-de-pantalla-2021-03-24-001108"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://i.ibb.co/cySBj68/Captura-de-pantalla-2021-03-24-001413.png"
          alt="Captura-de-pantalla-2021-03-24-001413"
        />
      </div>
      <div class="swiper-slide">
        <img
          src="https://i.ibb.co/6RgCp1m/Captura-de-pantalla-2021-03-24-001512.png"
          alt="Captura-de-pantalla-2021-03-24-001512"
        />
      </div>
      <div class="swiper-slide">
        <img src="https://i.ibb.co/HCsJPtp/precios.png" alt="precios" />
      </div>
      <div class="swiper-slide">
        <img src="https://i.ibb.co/48CfHGC/Captura-de-pantalla-2021-03-25-202908.png" alt="Captura-de-pantalla-2021-03-25-202908">
      </div>
    </div>
  </div>
</div>
