
<img class=""
   src="https://i.ibb.co/Wxv1cpV/sobre.png" alt="" />
<div class="form" routerLink fragment="#contacto">
  <div class="formcontent">
    <h2>Contacto</h2>
    <hr class="hr25">
    <h4 >¿Tienes alguna pregunta?</h4>
    <form action="https://formsubmit.co/gustavo.n.mercado2@gmail.com" method="POST" target="_blank">
        <div class="inputs">
      <input type="text" class="nombre" name="nombre" placeholder="nombre" required>
      <input class="email" type="text" name="email" placeholder="Introduce tu email" required/>
      <input class="msj" type="text" name="mensaje" placeholder="Deja tu mensaje" required/>
      </div>
      <button class="botonn" type="submit"> ENVIAR </button>
    </form>
  </div>
</div>
