<div class="form" routerLink fragment="#contacto">
  <img class="d-none d-lg-block d-xl-none"
   src="../../../assets/imgs/sobre.png" alt="" />
  <div class="sobre"></div>
  <div class="formcontent">
    <h2>Contacto</h2>
    <hr class="hr25">
    <h4 >¿Tienes alguna pregunta?</h4>
    <form action="https://formsubmit.co/gustavo.n.mercado2@gmail.com" method="POST" target="_blank">
        <div class="inputs">
      <input type="text" class="nombre" placeholder="nombre" />
      <input class="email" type="text" placeholder="Introduce tu email" />
      <input class="msj" type="text" placeholder="Deja tu mensaje" />
      </div>
      <button class="botonn" type="submit"> ENVIAR </button>
    </form>
  </div>
</div>
